html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

/* Reset
  =============== */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

figure {
  margin: 0;
}

/* STAGING */
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font: normal normal normal 16px/1.6 -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, sans-serif;
  font: normal normal normal 1rem/1.6 -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-size: 1rem;
}

body {
  color: #404040;
  background: white;
  font-size: 16px;
  font-size: 1rem;
}

p,
ol,
ul,
dl,
table {
  margin: 0 0 24px 0;
  margin: 0 0 1.5rem 0;
}

ul li ul {
  margin-bottom: 0;
}

ol li ol {
  margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 24px 0;
  margin: 1.5rem 0;
  font-weight: 600;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, sans-serif;
  line-height: 1.2;
  color: #404040;
}
h1:not(:first-child),
h2:not(:first-child),
h3:not(:first-child),
h4:not(:first-child),
h5:not(:first-child) {
  margin: 24px 0;
  margin: 1.5rem 0;
}

h1:not(:first-child),
h2:not(:first-child),
h3:not(:first-child) {
  margin-top: 32px;
  margin-top: 2rem;
}

h1 {
  font-size: 28px;
  font-size: 1.75rem;
}

h2 {
  font-size: 24px;
  font-size: 1.5rem;
}

h3 {
  font-size: 20px;
  font-size: 1.25rem;
}

h4 {
  font-size: 17.6px;
  font-size: 1.1rem;
}

h5 {
  font-size: 16px;
  font-size: 1rem;
}

@media (min-width: 600px) {
  h1:not(:first-child),
  h2:not(:first-child),
  h3:not(:first-child) {
    margin-top: 2.5rem;
  }

  h1 {
    font-size: 2.25rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  h4 {
    font-size: 1.5rem;
  }

  h5 {
    font-size: 1.25rem;
  }
}
a {
  color: #169bfe;
  text-decoration: none;
}
a:hover, a:active, a:focus {
  color: #0181e0;
  text-decoration: underline;
}

mark {
  background: #ffeea8;
  padding: 0 3.2px;
  padding: 0 0.2rem;
}

blockquote {
  margin: 0 0 24px 0;
  margin: 0 0 1.5rem 0;
  border-left: 16px solid #f0f0f0;
  padding: 0 24px;
  padding: 0 1.5rem;
  font-size: 24px;
  font-size: 1.5rem;
}
blockquote cite {
  display: block;
  margin-top: 24px;
  margin-top: 1.5rem;
  font-size: 16px;
  font-size: 1rem;
  text-align: right;
}

pre {
  border: 0;
  border-radius: 4px;
  background: transparent;
  padding: 16px;
  padding: 1rem;
  -moz-tab-size: 2;
    -o-tab-size: 2;
       tab-size: 2;
  color: #c7254d;
  font-family: Menlo, monospace;
  font-size: 14px;
  margin: 0 0 24px 0;
  margin: 0 0 1.5rem 0;
}
pre code {
  font-family: Menlo, monospace;
  line-height: 1.2;
}

kbd {
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 0 0 2px #fff inset;
          box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 0 0 2px #fff inset;
  color: #333;
  display: inline-block;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 1.4;
  margin: 0 .1em;
  padding: .1em .6em;
  text-shadow: 0 1px 0 #fff;
}

:not(pre) > code {
  color: #c7254d;
  background: transparent;
  font-family: Menlo, monospace;
  font-size: 14px;
  padding: 0 3.2px;
  padding: 0 0.2rem;
  border: 1px solid #dedede;
  border-radius: 4px;
}

hr {
  height: 0;
  border: 0;
  border-top: 1px solid #dedede;
}

dt {
  font-weight: 600;
}

dd {
  margin-bottom: 8px;
  margin-bottom: .5rem;
}

/* Grids
  =============== */
.full_block {
  float: left;
  width: 100%;
}

.full-container {
  max-width: 100%;
  padding: 0 16px;
  padding: 0 1rem;
}

.container, .x-small-container, .small-container, .medium-container {
  margin: 0 auto;
  max-width: 1200px;
  width: 90%;
}

.x-small-container {
  max-width: 600px;
}

.small-container {
  max-width: 768px;
}

.medium-container {
  max-width: 1000px;
}

@media only screen and (min-width: 769px) {
  .container, .x-small-container, .small-container, .medium-container {
    width: 85%;
  }
}
@media only screen and (min-width: 993px) {
  .container, .x-small-container, .small-container, .medium-container {
    width: 70%;
  }
}
.container .row, .x-small-container .row, .small-container .row, .medium-container .row {
  margin-left: -12px;
  margin-left: -0.75rem;
  margin-right: -12px;
  margin-right: -0.75rem;
}

.full-container .row {
  margin-left: -16px;
  margin-left: -1rem;
  margin-right: -16px;
  margin-right: -1rem;
}

.section {
  padding-top: 16px;
  padding-top: 1rem;
  padding-bottom: 16px;
  padding-bottom: 1rem;
}
.section.no-pad {
  padding: 0;
}
.section.no-pad-bot {
  padding-bottom: 0;
}
.section.no-pad-top {
  padding-top: 0;
}

.row {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.row .col {
  float: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 12px;
  padding: 0 0.75rem;
  min-height: 1px;
}
.row .col[class*="push-"], .row .col[class*="pull-"] {
  position: relative;
}
.row .col.s1 {
  width: 8.3333333333%;
  margin-left: auto;
  left: auto;
  right: auto;
}
.row .col.s2 {
  width: 16.6666666667%;
  margin-left: auto;
  left: auto;
  right: auto;
}
.row .col.s3 {
  width: 25%;
  margin-left: auto;
  left: auto;
  right: auto;
}
.row .col.s4 {
  width: 33.3333333333%;
  margin-left: auto;
  left: auto;
  right: auto;
}
.row .col.s5 {
  width: 41.6666666667%;
  margin-left: auto;
  left: auto;
  right: auto;
}
.row .col.s6 {
  width: 50%;
  margin-left: auto;
  left: auto;
  right: auto;
}
.row .col.s7 {
  width: 58.3333333333%;
  margin-left: auto;
  left: auto;
  right: auto;
}
.row .col.s8 {
  width: 66.6666666667%;
  margin-left: auto;
  left: auto;
  right: auto;
}
.row .col.s9 {
  width: 75%;
  margin-left: auto;
  left: auto;
  right: auto;
}
.row .col.s10 {
  width: 83.3333333333%;
  margin-left: auto;
  left: auto;
  right: auto;
}
.row .col.s11 {
  width: 91.6666666667%;
  margin-left: auto;
  left: auto;
  right: auto;
}
.row .col.s12 {
  width: 100%;
  margin-left: auto;
  left: auto;
  right: auto;
}
.row .col.offset-s1 {
  margin-left: 8.3333333333%;
}
.row .col.pull-s1 {
  right: 8.3333333333%;
}
.row .col.push-s1 {
  left: 8.3333333333%;
}
.row .col.offset-s2 {
  margin-left: 16.6666666667%;
}
.row .col.pull-s2 {
  right: 16.6666666667%;
}
.row .col.push-s2 {
  left: 16.6666666667%;
}
.row .col.offset-s3 {
  margin-left: 25%;
}
.row .col.pull-s3 {
  right: 25%;
}
.row .col.push-s3 {
  left: 25%;
}
.row .col.offset-s4 {
  margin-left: 33.3333333333%;
}
.row .col.pull-s4 {
  right: 33.3333333333%;
}
.row .col.push-s4 {
  left: 33.3333333333%;
}
.row .col.offset-s5 {
  margin-left: 41.6666666667%;
}
.row .col.pull-s5 {
  right: 41.6666666667%;
}
.row .col.push-s5 {
  left: 41.6666666667%;
}
.row .col.offset-s6 {
  margin-left: 50%;
}
.row .col.pull-s6 {
  right: 50%;
}
.row .col.push-s6 {
  left: 50%;
}
.row .col.offset-s7 {
  margin-left: 58.3333333333%;
}
.row .col.pull-s7 {
  right: 58.3333333333%;
}
.row .col.push-s7 {
  left: 58.3333333333%;
}
.row .col.offset-s8 {
  margin-left: 66.6666666667%;
}
.row .col.pull-s8 {
  right: 66.6666666667%;
}
.row .col.push-s8 {
  left: 66.6666666667%;
}
.row .col.offset-s9 {
  margin-left: 75%;
}
.row .col.pull-s9 {
  right: 75%;
}
.row .col.push-s9 {
  left: 75%;
}
.row .col.offset-s10 {
  margin-left: 83.3333333333%;
}
.row .col.pull-s10 {
  right: 83.3333333333%;
}
.row .col.push-s10 {
  left: 83.3333333333%;
}
.row .col.offset-s11 {
  margin-left: 91.6666666667%;
}
.row .col.pull-s11 {
  right: 91.6666666667%;
}
.row .col.push-s11 {
  left: 91.6666666667%;
}
.row .col.offset-s12 {
  margin-left: 100%;
}
.row .col.pull-s12 {
  right: 100%;
}
.row .col.push-s12 {
  left: 100%;
}
@media only screen and (min-width: 769px) {
  .row .col.m1 {
    width: 8.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.m2 {
    width: 16.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.m3 {
    width: 25%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.m4 {
    width: 33.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.m5 {
    width: 41.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.m6 {
    width: 50%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.m7 {
    width: 58.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.m8 {
    width: 66.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.m9 {
    width: 75%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.m10 {
    width: 83.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.m11 {
    width: 91.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.m12 {
    width: 100%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.offset-m1 {
    margin-left: 8.3333333333%;
  }
  .row .col.pull-m1 {
    right: 8.3333333333%;
  }
  .row .col.push-m1 {
    left: 8.3333333333%;
  }
  .row .col.offset-m2 {
    margin-left: 16.6666666667%;
  }
  .row .col.pull-m2 {
    right: 16.6666666667%;
  }
  .row .col.push-m2 {
    left: 16.6666666667%;
  }
  .row .col.offset-m3 {
    margin-left: 25%;
  }
  .row .col.pull-m3 {
    right: 25%;
  }
  .row .col.push-m3 {
    left: 25%;
  }
  .row .col.offset-m4 {
    margin-left: 33.3333333333%;
  }
  .row .col.pull-m4 {
    right: 33.3333333333%;
  }
  .row .col.push-m4 {
    left: 33.3333333333%;
  }
  .row .col.offset-m5 {
    margin-left: 41.6666666667%;
  }
  .row .col.pull-m5 {
    right: 41.6666666667%;
  }
  .row .col.push-m5 {
    left: 41.6666666667%;
  }
  .row .col.offset-m6 {
    margin-left: 50%;
  }
  .row .col.pull-m6 {
    right: 50%;
  }
  .row .col.push-m6 {
    left: 50%;
  }
  .row .col.offset-m7 {
    margin-left: 58.3333333333%;
  }
  .row .col.pull-m7 {
    right: 58.3333333333%;
  }
  .row .col.push-m7 {
    left: 58.3333333333%;
  }
  .row .col.offset-m8 {
    margin-left: 66.6666666667%;
  }
  .row .col.pull-m8 {
    right: 66.6666666667%;
  }
  .row .col.push-m8 {
    left: 66.6666666667%;
  }
  .row .col.offset-m9 {
    margin-left: 75%;
  }
  .row .col.pull-m9 {
    right: 75%;
  }
  .row .col.push-m9 {
    left: 75%;
  }
  .row .col.offset-m10 {
    margin-left: 83.3333333333%;
  }
  .row .col.pull-m10 {
    right: 83.3333333333%;
  }
  .row .col.push-m10 {
    left: 83.3333333333%;
  }
  .row .col.offset-m11 {
    margin-left: 91.6666666667%;
  }
  .row .col.pull-m11 {
    right: 91.6666666667%;
  }
  .row .col.push-m11 {
    left: 91.6666666667%;
  }
  .row .col.offset-m12 {
    margin-left: 100%;
  }
  .row .col.pull-m12 {
    right: 100%;
  }
  .row .col.push-m12 {
    left: 100%;
  }
}
@media only screen and (min-width: 993px) {
  .row .col.l1 {
    width: 8.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.l2 {
    width: 16.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.l3 {
    width: 25%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.l4 {
    width: 33.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.l5 {
    width: 41.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.l6 {
    width: 50%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.l7 {
    width: 58.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.l8 {
    width: 66.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.l9 {
    width: 75%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.l10 {
    width: 83.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.l11 {
    width: 91.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.l12 {
    width: 100%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.offset-l1 {
    margin-left: 8.3333333333%;
  }
  .row .col.pull-l1 {
    right: 8.3333333333%;
  }
  .row .col.push-l1 {
    left: 8.3333333333%;
  }
  .row .col.offset-l2 {
    margin-left: 16.6666666667%;
  }
  .row .col.pull-l2 {
    right: 16.6666666667%;
  }
  .row .col.push-l2 {
    left: 16.6666666667%;
  }
  .row .col.offset-l3 {
    margin-left: 25%;
  }
  .row .col.pull-l3 {
    right: 25%;
  }
  .row .col.push-l3 {
    left: 25%;
  }
  .row .col.offset-l4 {
    margin-left: 33.3333333333%;
  }
  .row .col.pull-l4 {
    right: 33.3333333333%;
  }
  .row .col.push-l4 {
    left: 33.3333333333%;
  }
  .row .col.offset-l5 {
    margin-left: 41.6666666667%;
  }
  .row .col.pull-l5 {
    right: 41.6666666667%;
  }
  .row .col.push-l5 {
    left: 41.6666666667%;
  }
  .row .col.offset-l6 {
    margin-left: 50%;
  }
  .row .col.pull-l6 {
    right: 50%;
  }
  .row .col.push-l6 {
    left: 50%;
  }
  .row .col.offset-l7 {
    margin-left: 58.3333333333%;
  }
  .row .col.pull-l7 {
    right: 58.3333333333%;
  }
  .row .col.push-l7 {
    left: 58.3333333333%;
  }
  .row .col.offset-l8 {
    margin-left: 66.6666666667%;
  }
  .row .col.pull-l8 {
    right: 66.6666666667%;
  }
  .row .col.push-l8 {
    left: 66.6666666667%;
  }
  .row .col.offset-l9 {
    margin-left: 75%;
  }
  .row .col.pull-l9 {
    right: 75%;
  }
  .row .col.push-l9 {
    left: 75%;
  }
  .row .col.offset-l10 {
    margin-left: 83.3333333333%;
  }
  .row .col.pull-l10 {
    right: 83.3333333333%;
  }
  .row .col.push-l10 {
    left: 83.3333333333%;
  }
  .row .col.offset-l11 {
    margin-left: 91.6666666667%;
  }
  .row .col.pull-l11 {
    right: 91.6666666667%;
  }
  .row .col.push-l11 {
    left: 91.6666666667%;
  }
  .row .col.offset-l12 {
    margin-left: 100%;
  }
  .row .col.pull-l12 {
    right: 100%;
  }
  .row .col.push-l12 {
    left: 100%;
  }
}
@media only screen and (min-width: 1201px) {
  .row .col.xl1 {
    width: 8.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.xl2 {
    width: 16.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.xl3 {
    width: 25%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.xl4 {
    width: 33.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.xl5 {
    width: 41.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.xl6 {
    width: 50%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.xl7 {
    width: 58.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.xl8 {
    width: 66.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.xl9 {
    width: 75%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.xl10 {
    width: 83.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.xl11 {
    width: 91.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.xl12 {
    width: 100%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.offset-xl1 {
    margin-left: 8.3333333333%;
  }
  .row .col.pull-xl1 {
    right: 8.3333333333%;
  }
  .row .col.push-xl1 {
    left: 8.3333333333%;
  }
  .row .col.offset-xl2 {
    margin-left: 16.6666666667%;
  }
  .row .col.pull-xl2 {
    right: 16.6666666667%;
  }
  .row .col.push-xl2 {
    left: 16.6666666667%;
  }
  .row .col.offset-xl3 {
    margin-left: 25%;
  }
  .row .col.pull-xl3 {
    right: 25%;
  }
  .row .col.push-xl3 {
    left: 25%;
  }
  .row .col.offset-xl4 {
    margin-left: 33.3333333333%;
  }
  .row .col.pull-xl4 {
    right: 33.3333333333%;
  }
  .row .col.push-xl4 {
    left: 33.3333333333%;
  }
  .row .col.offset-xl5 {
    margin-left: 41.6666666667%;
  }
  .row .col.pull-xl5 {
    right: 41.6666666667%;
  }
  .row .col.push-xl5 {
    left: 41.6666666667%;
  }
  .row .col.offset-xl6 {
    margin-left: 50%;
  }
  .row .col.pull-xl6 {
    right: 50%;
  }
  .row .col.push-xl6 {
    left: 50%;
  }
  .row .col.offset-xl7 {
    margin-left: 58.3333333333%;
  }
  .row .col.pull-xl7 {
    right: 58.3333333333%;
  }
  .row .col.push-xl7 {
    left: 58.3333333333%;
  }
  .row .col.offset-xl8 {
    margin-left: 66.6666666667%;
  }
  .row .col.pull-xl8 {
    right: 66.6666666667%;
  }
  .row .col.push-xl8 {
    left: 66.6666666667%;
  }
  .row .col.offset-xl9 {
    margin-left: 75%;
  }
  .row .col.pull-xl9 {
    right: 75%;
  }
  .row .col.push-xl9 {
    left: 75%;
  }
  .row .col.offset-xl10 {
    margin-left: 83.3333333333%;
  }
  .row .col.pull-xl10 {
    right: 83.3333333333%;
  }
  .row .col.push-xl10 {
    left: 83.3333333333%;
  }
  .row .col.offset-xl11 {
    margin-left: 91.6666666667%;
  }
  .row .col.pull-xl11 {
    right: 91.6666666667%;
  }
  .row .col.push-xl11 {
    left: 91.6666666667%;
  }
  .row .col.offset-xl12 {
    margin-left: 100%;
  }
  .row .col.pull-xl12 {
    right: 100%;
  }
  .row .col.push-xl12 {
    left: 100%;
  }
}

/* HELPERS */
.clearfix::before,
.clearfix::after {
  content: " ";
  display: block;
}

.clearfix:after {
  clear: both;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.text-md {
  font-size: 19.2px;
  font-size: 1.2rem;
}

.text-light {
  font-weight: 300 !important;
}

.text-normal {
  font-weight: 400 !important;
}

.text-heavy {
  font-weight: 600 !important;
}

.text-line-through {
  text-decoration: line-through;
}

.text-italic {
  font-style: italic;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-transform-none {
  text-transform: none;
}

.responsive-image {
  max-width: 100%;
  height: auto;
}

.circle-image {
  border-radius: 100%;
}

.rounded-image {
  border-radius: 15%;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.inline {
  display: inline;
}

.vertical-center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.show {
  display: block !important;
}

.hide {
  display: none !important;
}

.invisible {
  visibility: hidden;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.alternate-background {
  background: #fafafa;
  color: #404040;
}

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.box-shadow-0 {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.box-shadow-1 {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.box-shadow-1-half {
  -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
}

.box-shadow-2 {
  -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
          box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
}

.box-shadow-3 {
  -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3);
          box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3);
}

.box-shadow-4 {
  -webkit-box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);
          box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.3);
}

.box-shadow-5 {
  -webkit-box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
}

.hoverable {
  -webkit-transition: -webkit-box-shadow .25s;
  transition: -webkit-box-shadow .25s;
  -o-transition: box-shadow .25s;
  transition: box-shadow .25s;
  transition: box-shadow .25s, -webkit-box-shadow .25s;
}
.hoverable:hover {
  -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.margin-5 {
  margin: 5px !important;
}

.margin-top-5 {
  margin-top: 5px !important;
}

.margin-right-5 {
  margin-right: 5px !important;
}

.margin-bottom-5 {
  margin-bottom: 5px !important;
}

.margin-left-5 {
  margin-left: 5px !important;
}

.margin-10 {
  margin: 10px !important;
}

.margin-top-10 {
  margin-top: 10px !important;
}

.margin-right-10 {
  margin-right: 10px !important;
}

.margin-bottom-10 {
  margin-bottom: 10px !important;
}

.margin-left-10 {
  margin-left: 10px !important;
}

.margin-15 {
  margin: 15px !important;
}

.margin-top-15 {
  margin-top: 15px !important;
}

.margin-right-15 {
  margin-right: 15px !important;
}

.margin-bottom-15 {
  margin-bottom: 15px !important;
}

.margin-left-15 {
  margin-left: 15px !important;
}

.margin-20 {
  margin: 20px !important;
}

.margin-top-20 {
  margin-top: 20px !important;
}

.margin-right-20 {
  margin-right: 20px !important;
}

.margin-bottom-20 {
  margin-bottom: 20px !important;
}

.margin-left-20 {
  margin-left: 20px !important;
}

.margin-25 {
  margin: 25px !important;
}

.margin-top-25 {
  margin-top: 25px !important;
}

.margin-right-25 {
  margin-right: 25px !important;
}

.margin-bottom-25 {
  margin-bottom: 25px !important;
}

.margin-left-25 {
  margin-left: 25px !important;
}

.margin-30 {
  margin: 30px !important;
}

.margin-top-30 {
  margin-top: 30px !important;
}

.margin-right-30 {
  margin-right: 30px !important;
}

.margin-bottom-30 {
  margin-bottom: 30px !important;
}

.margin-left-30 {
  margin-left: 30px !important;
}

.margin-35 {
  margin: 35px !important;
}

.margin-top-35 {
  margin-top: 35px !important;
}

.margin-right-35 {
  margin-right: 35px !important;
}

.margin-bottom-35 {
  margin-bottom: 35px !important;
}

.margin-left-35 {
  margin-left: 35px !important;
}

.margin-40 {
  margin: 40px !important;
}

.margin-top-40 {
  margin-top: 40px !important;
}

.margin-right-40 {
  margin-right: 40px !important;
}

.margin-bottom-40 {
  margin-bottom: 40px !important;
}

.margin-left-40 {
  margin-left: 40px !important;
}

.margin-45 {
  margin: 45px !important;
}

.margin-top-45 {
  margin-top: 45px !important;
}

.margin-right-45 {
  margin-right: 45px !important;
}

.margin-bottom-45 {
  margin-bottom: 45px !important;
}

.margin-left-45 {
  margin-left: 45px !important;
}

.margin-50 {
  margin: 50px !important;
}

.margin-top-50 {
  margin-top: 50px !important;
}

.margin-right-50 {
  margin-right: 50px !important;
}

.margin-bottom-50 {
  margin-bottom: 50px !important;
}

.margin-left-50 {
  margin-left: 50px !important;
}

.margin-55 {
  margin: 55px !important;
}

.margin-top-55 {
  margin-top: 55px !important;
}

.margin-right-55 {
  margin-right: 55px !important;
}

.margin-bottom-55 {
  margin-bottom: 55px !important;
}

.margin-left-55 {
  margin-left: 55px !important;
}

.margin-60 {
  margin: 60px !important;
}

.margin-top-60 {
  margin-top: 60px !important;
}

.margin-right-60 {
  margin-right: 60px !important;
}

.margin-bottom-60 {
  margin-bottom: 60px !important;
}

.margin-left-60 {
  margin-left: 60px !important;
}

.margin-65 {
  margin: 65px !important;
}

.margin-top-65 {
  margin-top: 65px !important;
}

.margin-right-65 {
  margin-right: 65px !important;
}

.margin-bottom-65 {
  margin-bottom: 65px !important;
}

.margin-left-65 {
  margin-left: 65px !important;
}

.margin-70 {
  margin: 70px !important;
}

.margin-top-70 {
  margin-top: 70px !important;
}

.margin-right-70 {
  margin-right: 70px !important;
}

.margin-bottom-70 {
  margin-bottom: 70px !important;
}

.margin-left-70 {
  margin-left: 70px !important;
}

.margin-75 {
  margin: 75px !important;
}

.margin-top-75 {
  margin-top: 75px !important;
}

.margin-right-75 {
  margin-right: 75px !important;
}

.margin-bottom-75 {
  margin-bottom: 75px !important;
}

.margin-left-75 {
  margin-left: 75px !important;
}

.margin-80 {
  margin: 80px !important;
}

.margin-top-80 {
  margin-top: 80px !important;
}

.margin-right-80 {
  margin-right: 80px !important;
}

.margin-bottom-80 {
  margin-bottom: 80px !important;
}

.margin-left-80 {
  margin-left: 80px !important;
}

.margin-85 {
  margin: 85px !important;
}

.margin-top-85 {
  margin-top: 85px !important;
}

.margin-right-85 {
  margin-right: 85px !important;
}

.margin-bottom-85 {
  margin-bottom: 85px !important;
}

.margin-left-85 {
  margin-left: 85px !important;
}

.margin-90 {
  margin: 90px !important;
}

.margin-top-90 {
  margin-top: 90px !important;
}

.margin-right-90 {
  margin-right: 90px !important;
}

.margin-bottom-90 {
  margin-bottom: 90px !important;
}

.margin-left-90 {
  margin-left: 90px !important;
}

.margin-95 {
  margin: 95px !important;
}

.margin-top-95 {
  margin-top: 95px !important;
}

.margin-right-95 {
  margin-right: 95px !important;
}

.margin-bottom-95 {
  margin-bottom: 95px !important;
}

.margin-left-95 {
  margin-left: 95px !important;
}

.margin-100 {
  margin: 100px !important;
}

.margin-top-100 {
  margin-top: 100px !important;
}

.margin-right-100 {
  margin-right: 100px !important;
}

.margin-bottom-100 {
  margin-bottom: 100px !important;
}

.margin-left-100 {
  margin-left: 100px !important;
}

.padding-5 {
  padding: 5px !important;
}

.padding-top-5 {
  padding-top: 5px !important;
}

.padding-right-5 {
  padding-right: 5px !important;
}

.padding-bottom-5 {
  padding-bottom: 5px !important;
}

.padding-left-5 {
  padding-left: 5px !important;
}

.padding-10 {
  padding: 10px !important;
}

.padding-top-10 {
  padding-top: 10px !important;
}

.padding-right-10 {
  padding-right: 10px !important;
}

.padding-bottom-10 {
  padding-bottom: 10px !important;
}

.padding-left-10 {
  padding-left: 10px !important;
}

.padding-15 {
  padding: 15px !important;
}

.padding-top-15 {
  padding-top: 15px !important;
}

.padding-right-15 {
  padding-right: 15px !important;
}

.padding-bottom-15 {
  padding-bottom: 15px !important;
}

.padding-left-15 {
  padding-left: 15px !important;
}

.padding-20 {
  padding: 20px !important;
}

.padding-top-20 {
  padding-top: 20px !important;
}

.padding-right-20 {
  padding-right: 20px !important;
}

.padding-bottom-20 {
  padding-bottom: 20px !important;
}

.padding-left-20 {
  padding-left: 20px !important;
}

.padding-25 {
  padding: 25px !important;
}

.padding-top-25 {
  padding-top: 25px !important;
}

.padding-right-25 {
  padding-right: 25px !important;
}

.padding-bottom-25 {
  padding-bottom: 25px !important;
}

.padding-left-25 {
  padding-left: 25px !important;
}

.padding-30 {
  padding: 30px !important;
}

.padding-top-30 {
  padding-top: 30px !important;
}

.padding-right-30 {
  padding-right: 30px !important;
}

.padding-bottom-30 {
  padding-bottom: 30px !important;
}

.padding-left-30 {
  padding-left: 30px !important;
}

.padding-35 {
  padding: 35px !important;
}

.padding-top-35 {
  padding-top: 35px !important;
}

.padding-right-35 {
  padding-right: 35px !important;
}

.padding-bottom-35 {
  padding-bottom: 35px !important;
}

.padding-left-35 {
  padding-left: 35px !important;
}

.padding-40 {
  padding: 40px !important;
}

.padding-top-40 {
  padding-top: 40px !important;
}

.padding-right-40 {
  padding-right: 40px !important;
}

.padding-bottom-40 {
  padding-bottom: 40px !important;
}

.padding-left-40 {
  padding-left: 40px !important;
}

.padding-45 {
  padding: 45px !important;
}

.padding-top-45 {
  padding-top: 45px !important;
}

.padding-right-45 {
  padding-right: 45px !important;
}

.padding-bottom-45 {
  padding-bottom: 45px !important;
}

.padding-left-45 {
  padding-left: 45px !important;
}

.padding-50 {
  padding: 50px !important;
}

.padding-top-50 {
  padding-top: 50px !important;
}

.padding-right-50 {
  padding-right: 50px !important;
}

.padding-bottom-50 {
  padding-bottom: 50px !important;
}

.padding-left-50 {
  padding-left: 50px !important;
}

.padding-55 {
  padding: 55px !important;
}

.padding-top-55 {
  padding-top: 55px !important;
}

.padding-right-55 {
  padding-right: 55px !important;
}

.padding-bottom-55 {
  padding-bottom: 55px !important;
}

.padding-left-55 {
  padding-left: 55px !important;
}

.padding-60 {
  padding: 60px !important;
}

.padding-top-60 {
  padding-top: 60px !important;
}

.padding-right-60 {
  padding-right: 60px !important;
}

.padding-bottom-60 {
  padding-bottom: 60px !important;
}

.padding-left-60 {
  padding-left: 60px !important;
}

.padding-65 {
  padding: 65px !important;
}

.padding-top-65 {
  padding-top: 65px !important;
}

.padding-right-65 {
  padding-right: 65px !important;
}

.padding-bottom-65 {
  padding-bottom: 65px !important;
}

.padding-left-65 {
  padding-left: 65px !important;
}

.padding-70 {
  padding: 70px !important;
}

.padding-top-70 {
  padding-top: 70px !important;
}

.padding-right-70 {
  padding-right: 70px !important;
}

.padding-bottom-70 {
  padding-bottom: 70px !important;
}

.padding-left-70 {
  padding-left: 70px !important;
}

.padding-75 {
  padding: 75px !important;
}

.padding-top-75 {
  padding-top: 75px !important;
}

.padding-right-75 {
  padding-right: 75px !important;
}

.padding-bottom-75 {
  padding-bottom: 75px !important;
}

.padding-left-75 {
  padding-left: 75px !important;
}

.padding-80 {
  padding: 80px !important;
}

.padding-top-80 {
  padding-top: 80px !important;
}

.padding-right-80 {
  padding-right: 80px !important;
}

.padding-bottom-80 {
  padding-bottom: 80px !important;
}

.padding-left-80 {
  padding-left: 80px !important;
}

.padding-85 {
  padding: 85px !important;
}

.padding-top-85 {
  padding-top: 85px !important;
}

.padding-right-85 {
  padding-right: 85px !important;
}

.padding-bottom-85 {
  padding-bottom: 85px !important;
}

.padding-left-85 {
  padding-left: 85px !important;
}

.padding-90 {
  padding: 90px !important;
}

.padding-top-90 {
  padding-top: 90px !important;
}

.padding-right-90 {
  padding-right: 90px !important;
}

.padding-bottom-90 {
  padding-bottom: 90px !important;
}

.padding-left-90 {
  padding-left: 90px !important;
}

.padding-95 {
  padding: 95px !important;
}

.padding-top-95 {
  padding-top: 95px !important;
}

.padding-right-95 {
  padding-right: 95px !important;
}

.padding-bottom-95 {
  padding-bottom: 95px !important;
}

.padding-left-95 {
  padding-left: 95px !important;
}

.padding-100 {
  padding: 100px !important;
}

.padding-top-100 {
  padding-top: 100px !important;
}

.padding-right-100 {
  padding-right: 100px !important;
}

.padding-bottom-100 {
  padding-bottom: 100px !important;
}

.padding-left-100 {
  padding-left: 100px !important;
}

.no-margin {
  margin: 0 !important;
}

.no-margin-top {
  margin-top: 0 !important;
}

.no-margin-right {
  margin-right: 0 !important;
}

.no-margin-bottom {
  margin-bottom: 0 !important;
}

.no-margin-left {
  margin-left: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

.no-padding-top {
  padding-top: 0 !important;
}

.no-padding-right {
  padding-right: 0 !important;
}

.no-padding-bottom {
  padding-bottom: 0 !important;
}

.no-padding-left {
  padding-left: 0 !important;
}

i {
  line-height: inherit;
}
i.left {
  float: left;
  margin-right: 15px;
}
i.right {
  float: right;
  margin-left: 15px;
}
i.tiny {
  font-size: 16px;
  font-size: 1rem;
}
i.small {
  font-size: 32px;
  font-size: 2rem;
}
i.medium {
  font-size: 64px;
  font-size: 4rem;
}
i.large {
  font-size: 96px;
  font-size: 6rem;
}

blockquote {
  margin: 20px 0;
  padding-left: 24px;
  padding-left: 1.5rem;
  border-left: 5px solid #49B1FE;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.truncate {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

/* Buttons
  =============== */
.button, a.button, button, [type=submit], [type=reset], [type=button] {
  -webkit-appearance: none;
  display: inline-block;
  border: 1px solid #49B1FE;
  border-radius: 4px;
  background: #49B1FE;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  font-weight: 400;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-size: 1rem;
  text-transform: none;
  padding: 12px 20px;
  padding: .75rem 1.25rem;
  margin: 0 0 8px 0;
  margin: 0 0 .5rem 0;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  line-height: 1;
}

.button:hover, a.button:hover, button:hover, [type=submit]:hover, [type=reset]:hover, [type=button]:hover {
  border: 1px solid #169bfe;
  background: #169bfe;
  color: #ffffff;
  text-decoration: none;
}

.button:focus, .button:active, a.button:focus, a.button:active, button:focus, button:active, [type=submit]:focus, [type=submit]:active, [type=reset]:focus, [type=reset]:active, [type=button]:focus, [type=button]:active {
  border: 1px solid #169bfe;
  background: #169bfe;
  color: #ffffff;
  text-decoration: none;
  outline: none;
}

.button::-moz-focus-inner, a.button::-moz-focus-inner, button::-moz-focus-inner, [type=submit]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=button]::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.button.small, a.button.small, button.small, [type=submit].small, [type=reset].small, [type=button].small {
  font-size: 13.714px;
  font-size: 0.85714286rem;
  padding: 8px 16px;
  padding: 0.5rem 1rem;
}
.button.large, a.button.large, button.large, [type=submit].large, [type=reset].large, [type=button].large {
  font-size: 18.72px;
  font-size: 1.17rem;
  padding: 16px 26.4px;
  padding: 1rem 1.65rem;
}
.button.huge, a.button.huge, button.huge, [type=submit].huge, [type=reset].huge, [type=button].huge {
  font-size: 1.7em;
  padding: 20.8px 32px;
  padding: 1.3rem 2rem;
}
.button.link-button, a.button.link-button, button.link-button, [type=submit].link-button, [type=reset].link-button, [type=button].link-button {
  color: #49B1FE;
  border: 1px solid transparent;
  background: none;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}
.button.link-button:hover, .button.link-button:focus, .button.link-button:active, a.button.link-button:hover, a.button.link-button:focus, a.button.link-button:active, button.link-button:hover, button.link-button:focus, button.link-button:active, [type=submit].link-button:hover, [type=submit].link-button:focus, [type=submit].link-button:active, [type=reset].link-button:hover, [type=reset].link-button:focus, [type=reset].link-button:active, [type=button].link-button:hover, [type=button].link-button:focus, [type=button].link-button:active {
  color: #169bfe;
  border: 1px solid transparent;
  background: none;
}
.button.inverted, a.button.inverted, button.inverted, [type=submit].inverted, [type=reset].inverted, [type=button].inverted {
  color: #49B1FE;
  border: 1px solid #49B1FE;
  background: none;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}
.button.inverted:hover, .button.inverted:focus, .button.inverted:active, a.button.inverted:hover, a.button.inverted:focus, a.button.inverted:active, button.inverted:hover, button.inverted:focus, button.inverted:active, [type=submit].inverted:hover, [type=submit].inverted:focus, [type=submit].inverted:active, [type=reset].inverted:hover, [type=reset].inverted:focus, [type=reset].inverted:active, [type=button].inverted:hover, [type=button].inverted:focus, [type=button].inverted:active {
  color: white;
  border: 1px solid #49B1FE;
  background: #49B1FE;
}
.button[disabled], a.button[disabled], button[disabled], [type=submit][disabled], [type=reset][disabled], [type=button][disabled] {
  zoom: 1;
  filter: alpha(opacity=50);
  opacity: 0.5;
  cursor: default;
}

.secondary-button,
a.secondary-button {
  color: #ffffff;
  border: 1px solid #ea9433;
  background: #ea9433;
}
.secondary-button:hover, .secondary-button:focus, .secondary-button:active,
a.secondary-button:hover,
a.secondary-button:focus,
a.secondary-button:active {
  color: #ffffff;
  border: 1px solid #d47b16;
  background: #d47b16;
}
.secondary-button.link-button,
a.secondary-button.link-button {
  color: #ea9433;
  border: 1px solid transparent;
  background: none;
}
.secondary-button.link-button:hover, .secondary-button.link-button:focus, .secondary-button.link-button:active,
a.secondary-button.link-button:hover,
a.secondary-button.link-button:focus,
a.secondary-button.link-button:active {
  color: #d47b16;
  border: 1px solid transparent;
  background: none;
}
.secondary-button.inverted,
a.secondary-button.inverted {
  color: #ea9433;
  border: 1px solid #ea9433;
  background: none;
}
.secondary-button.inverted:hover, .secondary-button.inverted:focus, .secondary-button.inverted:active,
a.secondary-button.inverted:hover,
a.secondary-button.inverted:focus,
a.secondary-button.inverted:active {
  color: white;
  border: 1px solid #ea9433;
  background: #ea9433;
}

.muted-button,
a.muted-button {
  background: transparent;
  border: 1px solid #cdcdcd;
  color: #4e4e4e;
}
.muted-button:hover, .muted-button:focus, .muted-button:active,
a.muted-button:hover,
a.muted-button:focus,
a.muted-button:active {
  color: #4e4e4e;
  border: 1px solid #818181;
  background: transparent;
}

.round-button,
a.round-button {
  border-radius: 40px;
}

.square-button,
a.square-button {
  border-radius: 0;
}

.full-button,
a.full-button {
  display: block;
  width: 100%;
}

/* Forms
  =============== */
[type=color], [type=date], [type=datetime], [type=datetime-local], [type=email], [type=month], [type=number], [type=password], [type=search], [type=tel], [type=text], [type=url], [type=week], [type=time], select, textarea {
  display: block;
  border: 1px solid #cdcdcd;
  border-radius: 4px;
  padding: 12px;
  padding: .75rem;
  outline: none;
  background: transparent;
  margin-bottom: 8px;
  margin-bottom: .5rem;
  font-size: 16px;
  font-size: 1rem;
  width: 100%;
  max-width: 100%;
  line-height: 1;
}

[type=color]:hover, [type=date]:hover, [type=datetime]:hover, [type=datetime-local]:hover, [type=email]:hover, [type=month]:hover, [type=number]:hover, [type=password]:hover, [type=search]:hover, [type=tel]:hover, [type=text]:hover, [type=url]:hover, [type=week]:hover, [type=time]:hover, select:hover, textarea:hover {
  border: 1px solid #a7a7a7;
}

[type=color]:focus, [type=color]:active, [type=date]:focus, [type=date]:active, [type=datetime]:focus, [type=datetime]:active, [type=datetime-local]:focus, [type=datetime-local]:active, [type=email]:focus, [type=email]:active, [type=month]:focus, [type=month]:active, [type=number]:focus, [type=number]:active, [type=password]:focus, [type=password]:active, [type=search]:focus, [type=search]:active, [type=tel]:focus, [type=tel]:active, [type=text]:focus, [type=text]:active, [type=url]:focus, [type=url]:active, [type=week]:focus, [type=week]:active, [type=time]:focus, [type=time]:active, select:focus, select:active, textarea:focus, textarea:active {
  border: 1px solid #1a8ce0;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  outline: none;
}

[type=color][readonly], [type=color][disabled], [type=date][readonly], [type=date][disabled], [type=datetime][readonly], [type=datetime][disabled], [type=datetime-local][readonly], [type=datetime-local][disabled], [type=email][readonly], [type=email][disabled], [type=month][readonly], [type=month][disabled], [type=number][readonly], [type=number][disabled], [type=password][readonly], [type=password][disabled], [type=search][readonly], [type=search][disabled], [type=tel][readonly], [type=tel][disabled], [type=text][readonly], [type=text][disabled], [type=url][readonly], [type=url][disabled], [type=week][readonly], [type=week][disabled], [type=time][readonly], [type=time][disabled], select[readonly], select[disabled], textarea[readonly], textarea[disabled] {
  background: #ececec;
  border-color: #ececec;
  cursor: default;
}
[type=color][readonly]:focus, [type=color][readonly]:active, [type=color][disabled]:focus, [type=color][disabled]:active, [type=date][readonly]:focus, [type=date][readonly]:active, [type=date][disabled]:focus, [type=date][disabled]:active, [type=datetime][readonly]:focus, [type=datetime][readonly]:active, [type=datetime][disabled]:focus, [type=datetime][disabled]:active, [type=datetime-local][readonly]:focus, [type=datetime-local][readonly]:active, [type=datetime-local][disabled]:focus, [type=datetime-local][disabled]:active, [type=email][readonly]:focus, [type=email][readonly]:active, [type=email][disabled]:focus, [type=email][disabled]:active, [type=month][readonly]:focus, [type=month][readonly]:active, [type=month][disabled]:focus, [type=month][disabled]:active, [type=number][readonly]:focus, [type=number][readonly]:active, [type=number][disabled]:focus, [type=number][disabled]:active, [type=password][readonly]:focus, [type=password][readonly]:active, [type=password][disabled]:focus, [type=password][disabled]:active, [type=search][readonly]:focus, [type=search][readonly]:active, [type=search][disabled]:focus, [type=search][disabled]:active, [type=tel][readonly]:focus, [type=tel][readonly]:active, [type=tel][disabled]:focus, [type=tel][disabled]:active, [type=text][readonly]:focus, [type=text][readonly]:active, [type=text][disabled]:focus, [type=text][disabled]:active, [type=url][readonly]:focus, [type=url][readonly]:active, [type=url][disabled]:focus, [type=url][disabled]:active, [type=week][readonly]:focus, [type=week][readonly]:active, [type=week][disabled]:focus, [type=week][disabled]:active, [type=time][readonly]:focus, [type=time][readonly]:active, [type=time][disabled]:focus, [type=time][disabled]:active, select[readonly]:focus, select[readonly]:active, select[disabled]:focus, select[disabled]:active, textarea[readonly]:focus, textarea[readonly]:active, textarea[disabled]:focus, textarea[disabled]:active {
  border-color: #ececec;
}

textarea {
  overflow: auto;
  height: auto;
  min-height: 150px;
}

fieldset {
  border: 1px solid #dedede;
  border-radius: 4px;
  padding: 16px;
  padding: 1rem;
  margin: 24px 0;
  margin: 1.5rem 0;
}

legend {
  padding: 0 8px;
  padding: 0 .5rem;
  font-weight: 600;
}

select {
  color: #404040;
  line-height: 1;
}

[type=range] {
  width: 100%;
}

label {
  font-weight: 600;
  max-width: 100%;
  display: block;
  margin: 16px 0 8px;
  margin: 1rem 0 .5rem;
}
label.radio, label.checkbox {
  font-weight: normal;
}
label.radio {
  display: inline-block;
  margin-right: 10px;
}

@media (min-width: 600px) {
  .split-form label {
    text-align: right;
    padding: 0 .5rem;
    margin-bottom: 1rem;
  }
}
input.has-error, input.has-error:hover, input.has-error:focus, input.has-error:active,
select.has-error,
select.has-error:hover,
select.has-error:focus,
select.has-error:active,
textarea.has-error,
textarea.has-error:hover,
textarea.has-error:focus,
textarea.has-error:active {
  border: 1px solid #d58789;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 6px #f4cecf;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 6px #f4cecf;
}

::-webkit-input-placeholder,
::-moz-placeholder,
:-moz-placeholder,
:-ms-input-placeholder {
  color: #9a9a9a;
}

/* Tables
  =============== */
table {
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #dedede;
  width: 100%;
  max-width: 100%;
}

thead th {
  border-bottom: 2px solid #dedede;
  background: #f9fafb;
}

tfoot th {
  border-top: 2px solid #dedede;
  background: #f9fafb;
}

td {
  border-bottom: 1px solid #dedede;
}

th,
td {
  text-align: left;
  padding: 8px;
  padding: .5rem;
}

caption {
  padding: 16px 0;
  padding: 1rem 0;
  caption-side: bottom;
  color: #ababab;
}

.striped-table tbody tr:nth-child(odd) {
  background-color: #f8f8f8;
}

.striped-table thead th, .striped-table tfoot th {
  background: none;
}

.contain-table {
  overflow-x: auto;
}

@media (min-width: 600px) {
  .contain-table {
    width: 100%;
  }
}
@media only screen and (max-width: 992px) {
  table.responsive-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    display: block;
    position: relative;
    /* sort out borders */
  }
  table.responsive-table td:empty:before {
    content: '\00a0';
  }
  table.responsive-table th,
  table.responsive-table td {
    margin: 0;
    vertical-align: top;
  }
  table.responsive-table th {
    text-align: left;
  }
  table.responsive-table thead {
    display: block;
    float: left;
  }
  table.responsive-table thead tr {
    display: block;
    padding: 0 10px 0 0;
  }
  table.responsive-table thead tr th::before {
    content: "\00a0";
  }
  table.responsive-table tbody {
    display: block;
    width: auto;
    position: relative;
    overflow-x: auto;
    white-space: nowrap;
  }
  table.responsive-table tbody tr {
    display: inline-block;
    vertical-align: top;
  }
  table.responsive-table th {
    display: block;
    text-align: right;
  }
  table.responsive-table td {
    display: block;
    min-height: 1.25em;
    text-align: left;
  }
  table.responsive-table tr {
    padding: 0 10px;
  }
  table.responsive-table thead {
    border: 0;
    border-right: 1px solid #dedede;
  }
  table.responsive-table.bordered th {
    border-bottom: 0;
    border-left: 0;
  }
  table.responsive-table.bordered td {
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
  }
  table.responsive-table.bordered tr {
    border: 0;
  }
  table.responsive-table.bordered tbody tr {
    border-right: 1px solid #dedede;
  }
}
.responsive-table {
  overflow-x: auto;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 24px 0;
  margin: 1.5rem 0;
  font-weight: 600;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, sans-serif;
  line-height: 1.2;
  color: #404040;
}
h1:not(:first-child),
h2:not(:first-child),
h3:not(:first-child),
h4:not(:first-child),
h5:not(:first-child) {
  margin: 24px 0;
  margin: 1.5rem 0;
}

h1:not(:first-child),
h2:not(:first-child),
h3:not(:first-child) {
  margin-top: 32px;
  margin-top: 2rem;
}

h1 {
  font-size: 28px;
  font-size: 1.75rem;
}

h2 {
  font-size: 24px;
  font-size: 1.5rem;
}

h3 {
  font-size: 20px;
  font-size: 1.25rem;
}

h4 {
  font-size: 17.6px;
  font-size: 1.1rem;
}

h5 {
  font-size: 16px;
  font-size: 1rem;
}

@media (min-width: 600px) {
  h1:not(:first-child),
  h2:not(:first-child),
  h3:not(:first-child) {
    margin-top: 2.5rem;
  }

  h1 {
    font-size: 2.25rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  h4 {
    font-size: 1.5rem;
  }

  h5 {
    font-size: 1.25rem;
  }
}
a {
  color: #169bfe;
  text-decoration: none;
}
a:hover, a:active, a:focus {
  color: #0181e0;
  text-decoration: underline;
}

mark {
  background: #ffeea8;
  padding: 0 3.2px;
  padding: 0 0.2rem;
}

blockquote {
  margin: 0 0 24px 0;
  margin: 0 0 1.5rem 0;
  border-left: 16px solid #f0f0f0;
  padding: 0 24px;
  padding: 0 1.5rem;
  font-size: 24px;
  font-size: 1.5rem;
}
blockquote cite {
  display: block;
  margin-top: 24px;
  margin-top: 1.5rem;
  font-size: 16px;
  font-size: 1rem;
  text-align: right;
}

pre {
  border: 0;
  border-radius: 4px;
  background: transparent;
  padding: 16px;
  padding: 1rem;
  -moz-tab-size: 2;
    -o-tab-size: 2;
       tab-size: 2;
  color: #c7254d;
  font-family: Menlo, monospace;
  font-size: 14px;
  margin: 0 0 24px 0;
  margin: 0 0 1.5rem 0;
}
pre code {
  font-family: Menlo, monospace;
  line-height: 1.2;
}

kbd {
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 0 0 2px #fff inset;
          box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 0 0 2px #fff inset;
  color: #333;
  display: inline-block;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 1.4;
  margin: 0 .1em;
  padding: .1em .6em;
  text-shadow: 0 1px 0 #fff;
}

:not(pre) > code {
  color: #c7254d;
  background: transparent;
  font-family: Menlo, monospace;
  font-size: 14px;
  padding: 0 3.2px;
  padding: 0 0.2rem;
  border: 1px solid #dedede;
  border-radius: 4px;
}

hr {
  height: 0;
  border: 0;
  border-top: 1px solid #dedede;
}

dt {
  font-weight: 600;
}

dd {
  margin-bottom: 8px;
  margin-bottom: .5rem;
}

.text-gray,
a.text-gray,
button.text-gray {
  color: #969da6;
}

.text-primary {
  color: #49B1FE;
}
.text-secondary {
  color: #ea9433;
}
.text-body {
  color: #404040;
}
.text-gray {
  color: #969da6;
}
.text-success {
  color: #4caf50;
}
.text-error {
  color: #e74c3c;
}
.text-warning {
  color: #f0ad4e;
}
.text-white {
  color: #ffffff;
}
